<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">404AnswerNotFound</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapser"
    aria-controls="collapser" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <%- include("navbar_collapser") %> 
</nav>
