<div>
	<form action="/profile?_method=PUT" method="POST">
		<label id="img-upload-lbl" for="img-upload">Image: 
			<input aria-label="image-upload"  id="img-upload" type="file" />
		</label>
	</form>
</div>