<div class="home-wrap">
	<div class="inner-wrap" id="content-holder">
		<% if (!meta.isUserLoggedIn) { %>
			<%- include('partials/homeLogin.ejs') %>
		<% } else { %>
		<%- include('partials/quickPost.ejs') %>
		<% } %>
		<hr>
		<section id="recent_questions" class="rounded">
			<header>
				<h3>Recent Questions</h3>
			</header>
			<div class="content-wrap">
				<%- include('partials/questions.ejs') %>
			</div>
		</section>
		</hr>
	</div>
</div>
