#content_holder {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 800px;
}



#question {
	text-align: center;
	margin-top: 50px;
}

#stats {
	text-align: right;
	font-size: 12px;
}

#edit-delete {
	display: flex;
	justify-content: center;
	text-align: right;
	width: 25%;
	position: absolute;
	top: 19.2%;
	left: 39.5%;
}

#delete-question {
	padding-left: 0.5rem;
}

.owner_control {
	padding: 0;
}