html, body {
	height: 100%;
}

#content_holder {
	display: flex;
	flex-direction: column;
	width: 800px;
}

#detail_container {
	margin-top: 25px;
}

#form_view {
	background: rgba(52, 58, 64, 0.8);
	border: 1px solid black;
	border-radius: 20px 20px 0 0;
	height: 525px;
	padding: 15px;
	margin-top: 30px;
	position: relative;
	-webkit-border-radius: 20px 20px 0 0;
	-moz-border-radius: 20px 20px 0 0;
	-ms-border-radius: 20px 20px 0 0;
	-o-border-radius: 20px 20px 0 0;
}

#similar_questions {
	height: 200px;
	margin-top: 40px;
}

#similar_questions header {
	width: 250px;
}

#post {
	margin-top: 50px;
}

#post div button {
	height: 30px;
	line-height: 0.5;
	margin-top: 20px;
	position: relative;
	bottom: 0px;
	left: 631px;
}

.form-group {
	position: absolute;
	top: 10px;
	width: 94%;
	margin: 10px;
}