/* styling for the login views */

.alert {
	color: yellow;
	position: absolute;
	left: 43%;
	top: 32%;
}

.container {
	background-color: rgba(52, 58, 64, 0.8);
	border: 1px solid black;
	border-radius: 20px;
	display: flex;
	width: 25%;
	justify-content: center;
	padding: 50px;
	margin-top: 250px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
}

.form-group input {
	display: inline;
	width: 100%;
}

#login {
	color: whitesmoke;
}

 #loginBtn, #registerBtn2 {
	color: whitesmoke;
	height: 33px;
	line-height: 0.5;
	width: 90px;
}