<div class="container-fluid">
	<main>
		<div class="container" id="content_holder">
			<section>
				<%- include('../partials/inquisition_form.ejs') %> 
			</section>
			<hr>
			<section id="similar_questions">
				<header>
					<h3>Similar Questions</h3>
				</header>
				<article>
					<!-- Loop through the recent five posts -->
				</article>
			</section>
		</div>
	</main>
</div>